<select *ngIf="saveLocations.saveLocations && saveLocations.saveLocations.length>0" class="form-control btn"
        (change)="onSelectChange($event)">
  <option value="-1">Choose From History</option>
  <option *ngFor="let location of saveLocations.saveLocations;let indexOfArray=index "
          value="{{indexOfArray}}">{{location.sourceLocation.address}}</option>
</select>
<div class="form-group">
  <label>Enter address</label>
  <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
         placeholder="Search Nearest Location" autocapitalize="off"
         #search>
</div>
<select (change)="selectChangeHandler($event)" class="form-control btn" id="mode">
  <option value="DRIVING">Driving</option>
  <option value="WALKING">Walking</option>
  <option value="BICYCLING">Bicycling</option>
  <option value="TRANSIT">Transit</option>
</select>
<button class="btn" (click)="setLocation('source')" type="button">Source</button>
<button class="btn" (click)="setLocation('destination')" type="button">Destination</button>
<agm-map [zoom]="zoom" [latitude]="location.lat" [longitude]="location.lng" (mapClick)="onChoseLocation($event)">
  <agm-direction
    [origin]="origin"
    [destination]="destination"
    [travelMode]="travelMode"
  >
  </agm-direction>
  <agm-marker [latitude]="location.lat" [longitude]="location.lng" [markerDraggable]="true"
              (dragEnd)="onChoseLocation($event)"></agm-marker>
</agm-map>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<app-bottom-details
  [element]='{
  distance:distance,
  address:location.address,
  lat:location.lat,lng:location.lng}'
>
</app-bottom-details>
